.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.count {
    font-size: 50px;
}

button {
    padding: 20px;
    margin: 10px;
    font-size: 50px;
}

.floating-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;

    padding: 20px;
    border-radius: 50%;
    font-size: 30px;

    background: #8884d8;
    color: white;
    box-shadow:
            0 4px 10px rgba(0,0,0,0.1),
            0 8px 20px rgba(136, 132, 216, 0.4);
}

.form-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}